#header {
  background-color: #00a6fb;;
  color: #333;

  height: 70px;
  width: 100%;

  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;

  text-align: center;

  position: fixed;
  z-index: 1;
}

#header-spacer {
  height: 70px;
  display: block;
}

#nav-toggle {
  flex: 0 1 auto;

  font-size: 36px;
  padding: 17px;

  display: none; /* default hidden */
}

#header > h1 {
  flex: 1 1 auto;
  padding: 0;
  margin: 0;
}

@media (max-width: 992px) {
  #header-spacer {
    display: block;
  }

  #nav-toggle {
    display: block;
  }
}
