
<div id="interests">

  <div id="til-container">

    <div *ngFor="let interest of interests" class="til shadow">
      <img class="media" src="{{ interest.url }}">

      <div class="info">
        <h1 class="title">{{ interest.title }}</h1>
      </div>
    </div>

  </div>
</div>

<div id="interests-title">
  <h1>Interests</h1>
  <p>Some of the things I enjoy in life <i class="fa fa-thumbs-up" aria-hidden="true"></i></p>
</div>

<div id="fun-links" class="shadow">
  <h2>Links</h2>
  <p>The following is a collection I find useful and/or interesting. I mostly keep them here as a personal reference, but you may find some of these interesting as well.</p>
</div>

<div id="links-container">
  <div class="link" *ngFor="let link of fun_links">
    <a href="{{ link.link }}">{{ link.title }}<i class="fa fa-external-link" aria-hidden="true"></i></a>
  </div>
</div>




