@import '../global';

$card-width: 225px;

#interests {
  display: flex;
  flex-direction: column;
  background-color: $white;

  #til-container {
    padding: $SPACE / 2;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

    overflow-x: auto;

    .til {
      margin: $SPACE / 2;
      padding: 0;
      border-radius: 2px;
      width: $card-width;
      background: $white;

      .media {
        background: $white;
        width: $card-width;
        height: $card-width * (9/16); /* dat aspect ratio */
      }

      .info {
        padding: 24px 16px 16px 16px;

        .title {
          margin: 0;
          padding: 0;
          font-size: 24px;
          @extend .font-primary;
        }

        .subtitle {
          margin: 0 0 8px 0;
          padding: 0;
          font-size: 14px;
          @extend .font-secondary;
        }

        .body {
          margin: 0;
          padding: 0;
          font-size: 14px;
          @extend .font-primary;
        }
      }
    }
  }
}

#interests-title {
  background: $white;
  padding: $SPACE;
}

#fun-links {
  background: $primary-500;
  width: 100%;
  padding: $SPACE;

  h2 {
    @extend .font-white-primary;
    margin: 0 0 10px 0;
  }

  p {
    @extend .font-white-primary;
  }
}

#links-container {
  background: $white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;

  .link {
    padding: $SPACE;

    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: $grey-300;

    a {
      color: $accent-200;

      .fa {
        margin-left: $SPACE;
      }
    }
  }
}

