<background></background>

<!--<div class="container-fluid">-->

  <!--<div class="row">-->
    <!--<div id="top-spacer" class="col-md-12 card">-->
      <!--<h1 class="text-center">Lucas Simpson</h1>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="row" id="main-content">-->

    <!--<div class="col-md-2" id="side-nav">-->
      <!--<img class="img-responsive" src="images/me.jpg">-->

      <!--<div class="icon-links">-->
        <!--<a class="icon-link text-center" href="https://github.com/LucasSimpson"><i class="fa fa-github"></i></a>-->
        <!--<a class="icon-link text-center" href="https://www.linkedin.com/in/lucas-simpson"><i class="fa fa-linkedin"></i></a>-->
        <!--<a class="icon-link text-center" href="#"><i class="fa fa-globe" aria-hidden="true"></i></a>-->
      <!--</div>-->

      <!--<ul class="nav nav-pills nav-stacked expand">-->
        <!--<li role="presentation"><a class="text-right nav-link" [routerLink]="['/']">Index</a></li>-->
        <!--<li role="presentation"><a class="text-right nav-link" [routerLink]="['/work_experience']">Work Experience</a></li>-->
        <!--<li role="presentation"><a class="text-right nav-link" [routerLink]="['/interests']">Interests</a></li>-->
      <!--</ul>-->
    <!--</div>-->


    <!--<div class="col-md-9">-->
      <!--<main>-->
        <!--<router-outlet></router-outlet>-->
      <!--</main>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div id="top-spacer" class="col-md-12 card">-->
  <!--<h1 class="text-center">Lucas Simpson</h1>-->
<!--</div>-->

<!--<div id="side-nav">-->
  <!--<img class="img-responsive" src="images/me.jpg">-->

  <!--<div class="icon-links">-->
    <!--<a class="icon-link text-center" href="https://github.com/LucasSimpson"><i class="fa fa-github"></i></a>-->
    <!--<a class="icon-link text-center" href="https://www.linkedin.com/in/lucas-simpson"><i class="fa fa-linkedin"></i></a>-->
    <!--<a class="icon-link text-center" href="#"><i class="fa fa-globe" aria-hidden="true"></i></a>-->
  <!--</div>-->

  <!--<ul class="nav nav-pills nav-stacked expand">-->
    <!--<li role="presentation"><a class="text-right nav-link" [routerLink]="['/']">Index</a></li>-->
    <!--<li role="presentation"><a class="text-right nav-link" [routerLink]="['/work_experience']">Work Experience</a></li>-->
    <!--<li role="presentation"><a class="text-right nav-link" [routerLink]="['/interests']">Interests</a></li>-->
  <!--</ul>-->
<!--</div>-->

<!--<div class="container-fluid">-->
  <!--<div class="row">-->
    <!--<main>-->
      <!--<router-outlet></router-outlet>-->
    <!--</main>-->
  <!--</div>-->
<!--</div>-->

