

#top-spacer {
  background-color: #00a6fb;;
  color: #333;

}


#side-nav {
  margin-top: -15px;
  background-color: #fafafa;
  padding: 0;

  display:flex;
  flex-flow: column;
  height: 100%;
}

#side-nav > * {
  flex: 0 1 auto;
}

#side-nav .expand {
  flex: 1 1 auto;
}

#side-nav a {
  color: #333;
}

#side-nav .nav-link {
  font-size: 20px;
  padding-right: 40px;
}

.nav > li+li {
  margin-top: 0;
}

.icon-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.icon-links > .icon-link {
  padding: 10px 0;
  font-size: 26px;
  color: #333;
}
