h1, h2, h3, h4, h5, h6, p, li {
  color: #333;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

#top-spacer {
  height: 8vh;
}

#side-nav {
  background-color: #fafafa;
  padding: 0;
}

#side-nav a {
  color: #333;
}

#side-nav .nav-link {
  font-size: 20px;
  padding-right: 40px;
}

.nav > li+li {
  margin-top: 0;
}

.icon-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.icon-links > .icon-link {
  padding: 10px 0;
  font-size: 26px;
  color: #333;
}
