h1, h2, h3, h4, h5, h6, p, li {
  color: #333;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.card {
  border-radius: 2px;
  margin-bottom: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.image-rounded {
  display: block;
  max-width: 100%;
  max-height: 100%;

  border-radius: 50%;
}
