<div id="side-nav" class="shadow" [ngClass]="{'show-nav': showNav}">

  <div id="beautiful-me">
    <img class="image-responsive" src="https://s3.amazonaws.com/lucas-simpson-personal-site-static/angular_res/me.jpg">
  </div>

  <div id="icon-links" class="shadow">
    <a id="first" class="icon-link text-center" href="https://github.com/LucasSimpson"><i class="fa fa-github"></i></a>
    <a id="second" class="icon-link text-center" href="https://www.linkedin.com/in/lucas-simpson"><i class="fa fa-linkedin"></i></a>
    <a id="third" class="icon-link text-center" href="#"><i class="fa fa-globe" aria-hidden="true"></i></a>
  </div>

  <ul id="nav-links">
    <li><a class="nav-link" (click)="set(false)" [routerLink]="['/']">Home</a></li>
    <li><a class="nav-link" (click)="set(false)" [routerLink]="['/work_experience']">Work Experience</a></li>
    <li><a class="nav-link" (click)="set(false)" [routerLink]="['/logs']">Logs</a></li>
  </ul>

  <footer>
    <p id="email"><i class="fa fa-envelope" aria-hidden="true"></i> lucassimpson05@gmail.com</p>
  </footer>

</div>
