#side-nav {
  background-color: #fafafa;
  position: fixed;

  margin: 0;
  padding: 0;

  height: 100%;
  width: 300px;

  display:flex;
  flex-flow: column;

  z-index: 2;
}

#side-nav > * {
  flex: 0 1 auto;
}

#side-nav .expand {
  flex: 1 1 auto;
}

#side-nav a {
  color: #333;
}

#side-nav .nav-link {
  font-size: 20px;
  padding-right: 40px;
}

#beautiful-me {
  padding: 0%;
  width: 100%;
}

.nav > li+li {
  margin-top: 0;
}

#icon-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#icon-links > .icon-link {
  margin: 10px 30px;
  font-size: 26px;
  color: #333;
}


@media (max-width: 992px) {
  #side-nav {
    transform: translateX(-100%);
    width: 100%;
    height: auto;

    margin-top: 70px;
  }

  #side-nav .nav-link {
    font-size: 20px;
    padding-right: 17px; /* re-align with nav icon */
  }

  #side-nav.show-nav {
    transform: none;
  }

  #icon-links {
    display: none;
  }

  #beautiful-me {
    display: none;
  }
}
